body {
    background-color: #121212; /* ISSO DEIXA A COR DO SITE MEIO CINZA ESCURO PRA FICAR MODO NOTURNO, O FUNDO*/
    margin: 0; /* TIRA A MARGEM DA TELA */
 

}

body::-webkit-scrollbar { /* ESCONDE A BARRA DE SCROLL, FEIO E INÚTIL*/
    display: none;
}

#background { /* ISSO AQUI FOI GENIAL DMS KKKKKKKKKKKKKK */
    position: fixed;
    top: 0%;
}

.banner {
    display: flex; /* AQUI TEM NA ORDEM: O MÉTODO DE DISPLAY, COMO ALINHAR OS ITENS, A DISTANCIA DO ITEM ATÉ A LATERAL ESQUERDA, LARGURA, ALTURA, COR DO QUADRADO, O ESTILO DE POSIÇÃO (OU ALGO ASSIM, TO ENTENDENDO AINDA COMO FUNCIONA) E A DISTANCIA DA BORDA E DO TOPO*/
    align-items: center;
    padding-left: 6;
    width: 99.3%; 
    height: 50px;
    background-color: rgb(44, 44, 54);
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.134);;
}

.rodapé {
    display: flex;
    align-items: center;
    padding-left: 6;
    width: 99.3%; 
    height: 50px;
    background-color: rgb(44, 44, 54);
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.134);;
    top: 340%;
}

.caixanavegacao {
    display: flex;
    align-items: center;
    position: absolute;
    left: 90%;
    top: 1%;
    width: 9%; 
    height: 5%;
    background-color: rgb(44, 44, 54);
    border: 2px solid rgba(255, 255, 255, 0.134);;
}

#textonavegar {
    padding-left: 10%;
}

#imagemnavegar {
    padding-left: 7%;
}

.topicos {
    display: flex;
    flex-direction: column;
    align-items: top;
    background-color: rgb(44, 44, 54);
    width: 15%;
    height: 75%;
    position: fixed;
    top: 12.5%;
    left: 2%;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.134);
}

#titulo {
    margin-left: 6px;
    margin-bottom: 0,1%;
}

#texto-topicos {
    padding-left: 10%;
}

#texto-central {
    margin-left: 33%;
    margin-bottom: 0,1%;
}

#texto-central-rodape {
    margin-left: 47%;
    margin-bottom: 0,1%;
}

#verde {
    color:rgba(76, 129, 77, 0.677);
    padding-left: 5;
}

h1 {
    color: rgba(255, 255, 255, 0.677);
}

h2 {
    color: rgba(255, 255, 255, 0.677);
}

h3 {
    color: rgba(255, 255, 255, 0.677);
}

#titulo-topicos {
    padding-left: 30%;
}

#ad-topicos {
    padding-left: 10%;
    padding-bottom: 10%;
    border-radius: 20%;
}

.contraste {
    background-color: rgba(22, 22, 29, 0.677);
    width: 79%;
    height: 330%;
    border-radius: 2%;
    position: absolute;
    top: 20%;
    left: 20%;
    border: 3px solid rgba(76, 129, 77, 0.496);
}

.sessao {
    width: 50%;
    height: 50%;
    position: relative;
    left: 25%;
    }

#plantar{
    display: flex;
    flex-direction: column;
    align-items: top;
    top: 7%;
    background-color: rgba(32, 32, 220, 0);
}

#fornecimento{
    display: flex;
    flex-direction: column;
    align-items: top;
    background-color: rgba(32, 32, 220, 0);
    top: 50%;
}

p {
    font-size: 20;
    color:rgba(76, 129, 77, 0.677);
}

a{
    color: rgba(76, 129, 77, 0.677);
}

a:visited{
    color: rgba(76, 129, 77, 0.677);
}

a :hover{
    color: rgba(255, 255, 255, 0.677);
}

#instalogo {
    padding-left: 36%;
}

#wpplogo {
    padding-left: 5px;
}

#gmailogo {
    padding-left: 5px;
}

#imagem {
    border-radius: 5%;
    border: 5px solid rgba(76, 129, 77, 0.677);
}
